<article class="<%= item.layout %>">
  <div class="post-content">
    <header>
      <%- partial('post/title') %>
    </header>
    <div class="entry">
        <%- item.content %>
    </div>
    <footer>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>
